<p id="notice"><%= notice %></p>

<h1>Listing Ldap Groups</h1>

<table class = 'table table-hover'>
  <thead>
    <tr>
      <th class = 'col-md-3'>Group Name</th>
      <th class = 'col-md-2'>Gid</th>
      <th class = 'col-md-2'></th>
      <th class = 'col-md-2'>Options</th>
      <th class = 'col-md-2'></th>
    </tr>
  </thead>

  <tbody>
    <% @ldap_groups.each do |ldap_group| %>
      <tr>
        <td><%= ldap_group.cn %></td>
        <td><%= ldap_group['gidNumber'] %></td>
        <td><%= link_to 'Show', ldap_group.cn %></td>
        <td><%= link_to 'Edit', edit_ldap_group_path(ldap_group.cn) %></td>
        <td><%= link_to 'Destroy', ldap_group.cn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ldap group', new_ldap_group_path %>
