<h1>All Users</h1>


<table>
  <tbody>
  <tr>
    <%= button_to 'New User', edit_user_path(1), :class => 'btn btn-success', method: :get%>
  </tr>
  </tbody>
</table>

<!-- Loop through listed user base -->
<table class="table table-hover">

  <thead>
  <tr>
    <th class="col-md-10">User Name</th>
    <th></th>
    <th>Options</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
  <tr>
    <td><%= link_to "#{user.uid.first}", user_path(user.dn) %></td>
    <td>
      <%= button_to 'View', user_path(user.dn), :class => 'btn btn-primary', method: :get%>
    </td>
    <td>
      <%= button_to 'Edit', edit_user_path(user.dn), :class => 'btn btn-warning', method: :get%>
    </td>
    <td>
      <%= button_to 'Delete', user_path(user.dn), :class => 'btn btn-danger', method: :get%>
    </td>
  </tr>

  <% end %>
  </tbody>


</table>