<%= form_for(@ldap_user, html: {class: 'form-horizontal'}) do |f| %>
  <% if @ldap_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ldap_user.errors.count, 'error') %> prohibited this ldap_user from being saved:</h2>

      <ul>
      <% @ldap_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= render 'user_fields', f: f %>
    <%= link_to_add_fields 'Add Attribute', export_ldap_user_path(@ldap_user['dn']), 'People' %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
