<p id="notice"><%= notice %></p>

<h1>Listing Ldap Users</h1>

<table class = 'table table-hover'>
  <thead>
    <tr>
      <th class = 'col-md-3'>UserName</th>
      <th class = 'col-md-2'>Uid</th>
      <th class = 'col-md-2'></th>
      <th class = 'col-md-2'>Options</th>
      <th class = 'col-md-2'></th>
    </tr>
  </thead>

  <tbody>
    <% @ldap_users.each do |ldap_user| %>
      <tr>
        <td><%= ldap_user.cn %></td>
        <td><%= ldap_user['uidNumber'] %></td>
        <td><%= link_to 'Show', ldap_user_path(ldap_user['dn']) %></td>
        <td><%= link_to 'Edit', edit_ldap_user_path(ldap_user.cn) %></td>
        <td><%= link_to 'Destroy', ldap_user.cn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ldap user', new_ldap_user_path %>
