<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_ldap_user_path(@ldap_user.dn) %> |
<%= link_to 'Back', ldap_users_path %>
<table class='table table-hover'>
  <thead>
  <th>Attribute</th>
  <th>Value/s</th>
  </thead>
  <tbody>
<% @ldap_user.attributes.each do |key,value| %>
      <tr>
        <td><%= "#{key} " %></td>
        <td><ul class='list-unstyled'>
          <% to_array_helper(value).each do |element| %>
                <li><%= "#{element}" %></li>
          <% end %>
        </ul></td>
      </tr>
<% end %>
  </tbody>
</table>
